<template>
  <q-page class="">
    <movie-form></movie-form>
  </q-page>
</template>

<script>
import MovieForm from "../../components/movie/MovieForm.vue";
export default {
  name: "PageIndex",
  components: {
    MovieForm,
  },
};
</script>
