<template>
  <q-page class="">
    <movie-list></movie-list>
  </q-page>
</template>

<script>
import MovieList from "../../components/movie/MovieList.vue";
export default {
  name: "PageIndex",
  components: {
    MovieList,
  },
};
</script>
