<template>
  <div class="q-pa-md">
    <q-header elevated>
        <q-toolbar>
          <div class="flex items-center justify-center" style="width: 100%">
            <span>Movie Collections</span>
          </div>
        </q-toolbar>
      </q-header>
    <q-input outlined v-model="search" label="Search By Title" />
    <div class="q-pt-md">
      <template v-if="filteredMovieList.length > 0">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-md-3" v-for="(item, i) in filteredMovieList" :key="i" @click="onClickUpdateMovie(item)">
            <q-card class="my-card" style="cursor: pointer;">
              <q-card-section>
                <div class="text-h6">{{ item.title }}</div>
                <div class="text-subtitle2">{{ item.director }}</div>
              </q-card-section>

              <q-card-section class="q-pt-none">
                {{ item.summary }}
              </q-card-section>

              <div class="q-px-sm q-pb-sm">
                <q-chip
                  v-for="(item, i) in getGenres(item.genres)"
                  :key="i"
                  :label="item"
                />
              </div>
            </q-card>
          </div>
        </div>
      </template>
      <template v-else>
        <span class="text-center">Movie not found!</span>
      </template>
    </div>
    <q-page-sticky
      position="bottom-right"
      @click="onClickCreateMovie"
      :offset="[18, 18]"
    >
      <q-btn fab icon="add" color="blue-8" />
    </q-page-sticky>
  </div>
</template>
<script>
import { mapState } from "vuex";
export default {
  name: "MovieList",
  data() {
    return {
      search: "",
    };
  },
  computed: {
    ...mapState("movie", {
      movieList: (state) => state.movieList,
    }),
    filteredMovieList() {
      return this.movieList
        .filter((row) => {
          const title = row.title.toLowerCase();
          const director = row.director.toLowerCase();

          return (
            title.includes(this.search) ||
            director.includes(this.search)
          );
        });
    },
  },
  methods: {
    onClickCreateMovie() {
      this.$router.push({ name: "movie-create" });
    },
    getGenres(genres) {
      return genres ? genres.split(",") : [];
    },
    onClickUpdateMovie(item) {
      this.$router.push({name: "movie-update", params: {id: item.id}})
    }
  },
};
</script>

<style lang="scss" scoped>
.my-card {
  width: 100%;
}
</style>
