<template>
  <div>
    <q-form @submit="onSubmit" ref="myForm">
      <q-header elevated>
        <q-toolbar>
          <div class="flex items-center justify-between" style="width: 100%">
            <div>
              <q-btn
                label="Back"
                type="button"
                color="white"
                text-color="primary"
                @click="gotoList()"
              />
            </div>
            <div>
              <q-btn
                v-if="movieId"
                label="Delete"
                type="button"
                color="red"
                text-color="white"
                @click="onClickDeleteMovie(movieId)"
              />
              <q-btn
                label="Save"
                type="submit"
                color="white"
                text-color="primary"
                class="q-ml-sm"
              />
            </div>
          </div>
        </q-toolbar>
      </q-header>

      <div class="q-pa-md">
        <q-input
          outlined
          v-model="movieForm.title"
          label="Title *"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Field is required']"
        />
        <q-input
          outlined
          v-model="movieForm.director"
          label="Director *"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Field is required']"
        />

        <q-input
          v-model="movieForm.summary"
          outlined
          type="textarea"
          label="Summary *"
          :maxlength="100"
          lazy-rules
          :rules="[(val) => (val && val.length > 0) || 'Field is required']"
        />

        <div>
          <q-chip
            :color="item.isChecked ? 'blue-8' : ''"
            :text-color="item.isChecked ? 'white' : ''"
            v-for="(item, i) in genreOptions"
            :key="i"
            :label="item.genre"
            clickable
            @click="onClickChip(item)"
          />
        </div>
      </div>
    </q-form>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex";
const genreOptionsData = [
  {
    genre: "Action",
    isChecked: false,
  },
  {
    genre: "Animation",
    isChecked: false,
  },
  {
    genre: "Drama",
    isChecked: false,
  },
  {
    genre: "Sci-Fi",
    isChecked: false,
  },
];

export default {
  name: "MovieForm",
  data() {
    return {
      movieForm: {
        id: null,
        title: null,
        director: null,
        summary: null,
        genres: null,
      },
      genreOptions: genreOptionsData,
      movieId: null,
    };
  },
  computed: {
    ...mapState("movie", {
      movieList: (state) => state.movieList,
    }),
  },
  watch: {
    genreOptions: {
      handler: function (value) {
        const genres = value
          .filter((item) => item.isChecked)
          .map((item) => item.genre)
          .join(",");
        this.movieForm.genres = genres;
      },
      deep: true,
    },
  },
  methods: {
    ...mapMutations("movie", [
      "createMovieList",
      "updateMovieList",
      "deleteMovie",
    ]),
    onClickChip(item) {
      item.isChecked = !item.isChecked;
    },
    onClickDeleteMovie(movieId) {
      setTimeout(() => {
        this.deleteMovie(movieId);
        this.movieId = null;
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "check",
          message: "Data Successfully Deleted",
        });
        this.gotoList();
      }, 500);
    },
    onSubmit() {
      if (this._isNull(this.movieForm.genres)) {
        this.$q.notify({
          color: "red-5",
          textColor: "white",
          icon: "warning",
          message: "Choose at least 1 genre",
        });
        return;
      }

      setTimeout(() => {
        if (this.movieId) {
          this.updateMovieList({
            movieId: this.movieId,
            item: this.movieForm,
          });
        } else {
          this.createMovieList(this.movieForm);
        }
        this.$q.notify({
          color: "green-4",
          textColor: "white",
          icon: "check",
          message: "Data Successfully Saved",
        });
        this.$refs.myForm.resetValidation();
        this.gotoList();
      }, 500);
    },
    gotoList() {
      this.$router.push({ name: "movie-list" });
    },
    _isNull(key) {
      return [null, "", undefined].includes(key);
    },
  },
  created() {
    this.movieId = this.$route.params.id;
    if (this.movieId) {
      const movie = this.movieList.find(
        (item) => item.id.toString() === this.movieId.toString()
      );
      this.movieForm = JSON.parse(JSON.stringify(movie));
      const genres = this.movieForm.genres
        ? this.movieForm.genres.split(",")
        : [];
      this.genreOptions.map((item) => {
        item.isChecked = genres.includes(item.genre);
        return item;
      });
    } else {
      this.genreOptions.map((item) => {
        item.isChecked = false;
        return item;
      });
    }
  },
};
</script>
